#twitter-icon {
  color: #00aced;
}

#linkedin-icon {
  color: #007bb6;
}

#github-icon {
  color: black;
}

#devto-icon {
  color: black;
}

#mailto-icon {
  color: black;
}

.social-icon {
  display: inline-block;
  margin: 5px 10px;
}

.portfolio {
  padding:6%;
  text-align:center;
}

.bio-info {
  padding: 5%;
  background: #ffff;
  box-shadow: 0px 0px 4px 0px #b0b3b7;
}

.bio-image img {
  border-radius: 50%;
}

h6 {
  text-align: justify;
}

body {
  background: rgb(241, 241, 241);
}
