.social-icon {
  margin: 0px 10px;
}

#twitter-icon {
  color: #00aced;
}

#linkedin-icon {
  color: #007bb6;
}

#github-icon {
  color: black;
}

#devto-icon {
  color: black;
}

#main {
  font-size: 14px;
}

#about {
  font-size: 14px;
}

#in-progress {
  font-size: 10px;
}
